body {
  background-color: lightgray;
}

.cooltext {
  color: green;
}

#sicktext {
  font-weight:bold;
  color:teal;
}

.header {
  background-color: orange;
}

.linkies {
  color: red;
}

.tables {
  background-color:maroon;
}
